{% extends './base.htm' %}

{% block title %}黑客松 - 測試{% endblock %}

{% block title_Main %}系統測試{% endblock %} 

{% block title_log %}很麻煩的系統{% endblock %} 

{% block head %}
<script language="JavaScript">
    function myrefresh() {
        window.location.reload();
    }
    setTimeout('myrefresh()', 7000); 
</script>
<link href="/Templates/css/bootstrap.css" rel="stylesheet">

{% endblock %} 

{% block main %}

<div id="ask"><h2></h2></div>

<div class="Main_1 container text-center ">
    {{ Main_1 |safe}}
</div>

{% endblock %}